@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'PT Sans Caption', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --color-white: #FFFFFF;
  --color-blue-100: #7EA4D7;
  --color-blue-200: #2C85FC;
  --color-blue-300: #2266C1;
  --color-blue-400: #0D284C;
  --color-cyan-100: #2DEBFC;
  --color-cyan-200: #187D86;
  --color-cyan-300: #0E474C;
  --color-gray-100: #F9FAFC;
  --color-gray-200: #D3D5D9;
  --color-gray-300: #93979F;
  --color-gray-400: #20242C;
  --color-gray-500: #16181D;
  --color-gray-600: #14161A;
  --color-gray-700: #101216;
  --color-gray-800: #0B0C0F;
}

@utility text-heading-hg {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-heading-xl {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-heading-lg {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-heading-md {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-heading-sm {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-heading-xs {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

@utility text-body-md {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

@utility text-body-sm {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

@utility text-body-xs {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

@utility text-action-md {
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

@utility text-action-sm {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 1200px;
}

html {
  background-color: var(--color-gray-700);
}
